{% if session_has('alert') or session_has('status') or errors|length > 0 %}
    <div class="container page_alerts">
        <div class="row">
            <div class="col-xs-12">
                {% if session_has('alert') or session_has('status') %}
                    {% set alert = session_has('alert')?session_get('alert'):{'type':'success','message':session_get('status')} %}
                    <div class="alert alert alert-{{ alert.type }} alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        {{ alert.message }}
                    </div>
                {% endif %}
                {% if errors|length > 0 %}
                    <div class="alert alert alert-danger alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        Your submission contained errors please correct them in order to proceed. Details can be found
                        inline below.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}